*{
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	box-sizing:border-box;
}
body{
	font-family:montserrat;
}
nav{
	background:#0082e6;
	height:100px;
	width:100%;
}
label.logo{
	color:white;
	font-size:45px;
	line-height:80px;
	padding:0 40px;
	 
	float:left;
}
nav ul{
	float:left-side;
	margin-right:10px;
}
nav ul li{
	display:inline-block;
	line-height:100px;
	margin:0 5px;
}
nav ul li a{
	color:white;
	font-size:17px;
	text-transform:uppercase;
	padding:7px 13px;
	border-radius:3px;
}
a.active , a:hover{
	background:#1b9bff;
/*background:crimson;*/
	transition:.2s;
	
}
li a:hover{
	 font-size:18px;
	/*transform: scale(0.95);
	transition: transform 0.5s;*/
}
#checkbox{
	display:none; 	  
}
 
.checkbtn{
	display:none;  
	font-size:30px;
	color:white;
	float:right;
	line-height:80px; 
	margin-right:40px;
	margin-top:20px;
	cursor:pointer;
	 
}

@media(max-width:752px){
	label.logo{
		font-size:18px;
		padding-left:30px;
	}
	nav ul li a{
		font-size:16px;
		font-weight:bold;
	}
}
@media(max-width:751px){
	
	.checkbtn{
		display:block;
	}
	 
	ul{
		position:fixed;
		/* display:inline-block; */
		width:100%;
		height:100vh;
		background:#2c3e50;
		top:80px;
		left:-100%;
		  opacity: 1;
		transform: scale(1);
		text-align:center;
		transition: all .3s;
	}
	
	nav ul li{
		display:block;
		margin:10px 0;
		line-height:30px;
		 
	}
	nav ul li a{
	/*	background:none;
		color:#0082e6;*/
		font-size:20px;
	}
	a:hover,a.active{
		background:none;
		color:#0082e6;
	}	 
	#check:checked ~ ul{
		left:0;
		 overflow:auto;
		   
		   
	}
}
   section{
	background: url(./img/hero-bg.png) no-repeat;
	background-size:cover;
	 height:calc(100vh -80px); 
        } 




